/*
                  <svg className='uploaded-preview' width="68" height="41" viewBox="0 0 68 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_525_194)">
                      <path d="M64.5346 1.3278C65.2203 1.3278 65.8053 1.54688 66.1813 1.94389C66.532 2.31435 66.7002 2.84414 66.6671 3.47883C66.634 4.13741 66.6379 4.79069 66.6419 5.42139C66.6432 5.69625 66.6446 5.98039 66.6432 6.25658V6.26189V6.2672C66.6485 9.42602 66.6538 12.5849 66.6604 15.7424C66.6618 17.7473 66.6644 19.7523 66.6671 21.7573C66.6737 27.0273 66.6803 32.4779 66.675 37.8382C66.675 38.9004 65.9086 39.5869 64.7252 39.5896C61.1976 39.5949 57.6105 39.5962 54.1411 39.5989C52.3766 39.5989 50.6122 39.6002 48.8477 39.6015C41.2948 39.6068 33.7406 39.6108 26.1877 39.6148C18.6347 39.6188 11.0805 39.6241 3.52496 39.6281C1.95772 39.6281 1.34751 39.016 1.34618 37.4465V37.0588C1.34089 30.1742 1.33559 23.2922 1.33162 16.4102C1.33162 16.2894 1.33824 16.1566 1.34353 16.0159C1.34751 15.9428 1.35015 15.8698 1.3528 15.7968V15.7716V15.7463L1.33692 6.27915C1.33559 5.99367 1.33295 5.7082 1.33162 5.42405C1.32633 4.72961 1.32103 4.0126 1.325 3.3102C1.33295 2.09526 2.03317 1.39817 3.24963 1.39817C11.6854 1.38887 20.2629 1.38356 28.5584 1.37825C32.7769 1.3756 36.9942 1.37294 41.2127 1.37029C41.6813 1.37029 42.1512 1.37029 42.6211 1.37029C44.2016 1.37029 45.7807 1.37029 47.3612 1.37294C48.9417 1.37294 50.5222 1.3756 52.1026 1.3756C55.748 1.3756 60.0712 1.37029 64.5042 1.33045H64.5346M64.5346 0C64.5214 0 64.5068 0 64.4936 0C60.3637 0.0371783 56.2338 0.0451451 52.104 0.0451451C48.943 0.0451451 45.7821 0.0398339 42.6211 0.0398339C42.1512 0.0398339 41.6826 0.0398339 41.2127 0.0398339C28.5584 0.0491285 15.904 0.0544396 3.24963 0.0677176C1.29323 0.0703732 0.013238 1.35435 0.00132485 3.3009C-0.00529354 4.29675 0.00794324 5.29127 0.013238 6.28579C0.0185327 9.4393 0.0238274 12.5928 0.0291221 15.7477C0.02118 15.9681 0.00661957 16.1885 0.00661957 16.4089C0.0105906 23.421 0.0158853 30.4331 0.02118 37.4465C0.0225037 39.7582 1.21911 40.9545 3.52363 40.9545H3.5276C18.6347 40.9452 33.7406 40.9373 48.8477 40.928C54.1398 40.924 59.4332 40.924 64.7265 40.916C66.6326 40.9134 67.996 39.6533 67.9974 37.8382C68.004 30.4716 67.9894 23.1063 67.9828 15.7397C67.9762 12.5809 67.9709 9.42204 67.9656 6.26321C67.9709 5.35633 67.9431 4.44812 67.9881 3.54389C68.1006 1.35966 66.5678 0 64.5346 0Z" fill="white"/>
                      <path d="M4.47271 0H63.9893C66.1892 0 67.9749 1.7912 67.9749 3.99799V11.0207H0V4.48529C0 2.01028 2.00405 0 4.47271 0Z" fill="white"/>
                      <path d="M23.5574 16.0053V34.779C23.5574 35.0339 23.2291 35.2411 22.8254 35.2411H6.57989C6.17617 35.2411 5.8479 35.0339 5.8479 34.779V16.0053C5.8479 15.7503 6.17617 15.5432 6.57989 15.5432H22.8254C23.2291 15.5432 23.5574 15.7503 23.5574 16.0053Z" fill="white"/>
                      <path d="M62.152 15.5432H28.2883V19.0698H62.152V15.5432Z" fill="white"/>
                      <path d="M62.152 23.6295H28.2883V27.1561H62.152V23.6295Z" fill="white"/>
                      <path d="M62.152 31.7158H28.2883V35.2424H62.152V31.7158Z" fill="white"/>
                      </g>
                      <defs>
                      <clipPath id="clip0_525_194">
                      <rect width="68" height="40.9545" fill="white"/>
                      </clipPath>
                      </defs>
                  </svg>

                  <svg className="front-preview" width="69" height="52" viewBox="0 0 69 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M41.3587 34.7643V50.2348C41.3587 50.3617 41.3587 50.4916 41.3498 50.6185C41.29 51.4067 40.6529 52 39.8694 52C39.0858 52 38.4488 51.4451 38.3501 50.6835C38.3352 50.5595 38.3352 50.4503 38.3382 50.3499V50.2879V33.4449C38.3382 33.3386 38.3382 33.2323 38.3471 33.129C38.4219 32.4088 38.9842 31.8597 39.7139 31.7948C39.8335 31.7859 39.9531 31.7859 40.0728 31.783H40.1356H42.2559C41.9688 31.4376 41.6817 31.0922 41.3916 30.7439L34.5012 22.4611L26.7404 31.78C27.1381 31.78 27.5359 31.78 27.9337 31.78H28.9295C29.0551 31.78 29.1808 31.78 29.3034 31.7918C30.0211 31.8627 30.5565 32.3881 30.6372 33.0995C30.6522 33.2353 30.6522 33.3622 30.6522 33.4744V46.5952C30.6522 46.7074 30.6522 46.8196 30.6492 46.9317C30.6342 47.6106 30.078 48.325 29.1778 48.3427C29.1658 48.3427 29.1568 48.3427 29.1449 48.3427C28.3822 48.3427 27.7393 47.7848 27.6436 47.0321C27.6256 46.8904 27.6256 46.7576 27.6286 46.6395V46.5568V34.7643C26.7254 34.7643 25.8252 34.7643 24.9191 34.7643H23.7437C23.6301 34.7643 23.5164 34.7643 23.4028 34.7555C22.8854 34.7053 22.4338 34.4071 22.1976 33.9496C21.9613 33.495 21.9792 32.9578 22.2424 32.5121C22.3142 32.3881 22.3979 32.2907 22.4697 32.2021L22.4906 32.1785C26.0585 27.8866 29.6264 23.5946 33.2002 19.3056C33.3796 19.0901 33.5471 18.9366 33.7236 18.8274C34.2798 18.4791 35.0126 18.5529 35.509 19.0016C35.6316 19.1138 35.7303 19.2318 35.817 19.3381L35.8619 19.3942C39.2832 23.509 42.7075 27.6239 46.1289 31.7387C46.1767 31.7948 46.2246 31.8538 46.2754 31.9099C46.419 32.0782 46.5685 32.2494 46.7031 32.4501C47.0051 32.9017 47.044 33.4537 46.8077 33.9289C46.5685 34.4101 46.096 34.72 45.5427 34.7584C45.447 34.7643 45.3483 34.7643 45.2556 34.7643H44.0832C43.1711 34.7643 42.2649 34.7643 41.3558 34.7643H41.3587ZM68.188 25.6993C67.2459 21.0708 64.0728 17.1036 59.6945 15.0934C57.3618 14.0219 54.8885 13.5584 52.3375 13.7178C52.1491 13.7296 51.9577 13.7473 51.7692 13.7651C51.6676 13.7739 51.5659 13.7857 51.4612 13.7946C50.3218 9.59708 47.989 6.18183 44.5229 3.63441C40.8892 0.957103 36.7292 -0.24724 32.1595 0.0420385C27.9785 0.310654 24.282 1.82199 21.1688 4.54061C17.1523 8.04443 15.008 12.5489 14.7867 17.9301C13.393 17.8061 12.0084 17.9006 10.6715 18.2105C4.12197 19.7189 -0.20851 25.8292 0.595979 32.4294C0.862148 34.6079 1.66365 36.624 2.97954 38.4216C5.44385 41.7867 9.41844 43.7969 13.6143 43.7969H13.6233C15.633 43.7969 17.6428 43.7969 19.6525 43.7969H23.3549C23.3878 43.7969 23.4207 43.7969 23.4566 43.7969C23.5493 43.7969 23.648 43.7939 23.7557 43.7792C24.5004 43.6818 25.0626 43.0442 25.0596 42.3003C25.0596 41.5506 24.4914 40.9218 23.7407 40.8333C23.5643 40.8126 23.3938 40.8126 23.2443 40.8126H19.3863C17.4902 40.8126 15.5942 40.8126 13.6981 40.8126C12.8697 40.8126 12.0562 40.7211 11.2846 40.541C6.07488 39.3278 2.8001 34.4426 3.6644 29.1795C3.9844 27.2401 4.82478 25.5399 6.1646 24.1319C8.50629 21.67 11.4252 20.6015 14.8405 20.9498C15.1037 20.9764 15.3669 21.0265 15.648 21.0826C15.7945 21.1121 15.9411 21.1387 16.0876 21.1653C16.5183 21.2391 16.9609 21.1299 17.2959 20.8671C17.6308 20.6044 17.8372 20.2118 17.8641 19.7838C17.8731 19.6274 17.8641 19.4768 17.8521 19.3381C17.8043 18.7684 17.8043 18.1544 17.8521 17.4076C17.9329 16.0793 18.1931 14.7628 18.6207 13.4964C20.5886 7.68726 26.0465 3.48386 32.2013 3.03519C33.7415 2.92302 35.2817 3.02928 36.78 3.35103C42.1872 4.50814 46.5924 8.46949 48.2762 13.6942C48.4795 14.3259 48.6291 14.9694 48.7935 15.7457C48.979 16.6313 49.6967 17.1036 50.6238 16.9501L50.7345 16.9324C51.1143 16.8674 51.5061 16.8025 51.8859 16.7582C53.2197 16.6018 54.5595 16.6667 55.8695 16.953C61.9076 18.2754 66.0138 23.8308 65.4216 29.8791C65.29 31.2044 64.9551 32.4737 64.4228 33.6544C62.4639 37.9966 58.0736 40.8067 53.2377 40.8185C51.3745 40.8214 49.5143 40.8185 47.6511 40.8185H44.7771C44.6216 40.8185 44.466 40.8214 44.3105 40.8274C43.536 40.851 42.893 41.5328 42.9049 42.318C42.9169 43.118 43.515 43.7408 44.3285 43.7939C44.4242 43.7998 44.5169 43.7998 44.6126 43.7998H44.6963H53.2795H53.2825C54.4399 43.7998 55.6152 43.6641 56.7756 43.3925C64.8145 41.524 69.8269 33.7548 68.191 25.7022L68.188 25.6993Z" fill="#006A00"/>
                  </svg>              

*/
body {
  margin: 0;
  padding: 0;
}

.container-ssn-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ssn-page-container {
  width: 50%;
}

/*title*/
.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.title-description{
  color: rgba(172, 172, 172, 1);
}

/*input*/
.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.group {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Style for each slot */
.slot {
  position: relative;
  width: 2.5rem;
  height: 3.5rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
}

/* Group hover and focus-within styles */
.group:hover .slot,
.group:focus-within .slot {
  border-color: rgba(0, 0, 0, 0.2);
}

/* Active slot style */
.slot.is-active {
  outline: 4px solid #000;
}

/* Fake caret animation */
.fake-caret {
  position: absolute;
  pointer-events: none;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: caret-blink 1.2s ease-out infinite;
}

.fake-caret div {
  width: 1px;
  height: 2rem;
  background-color: #000;
}

/* Fake dash styling */
.fake-dash {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fake-dash div {
  width: 0.75rem;
  height: 0.25rem;
  border-radius: 9999px;
  background-color: #ccc;
}

/*button*/
.ssnbutton-container {
  display: flex;
  align-items: center;
  justify-content: center;

}
.ssnbutton {
  width: 100%;
  margin-top: 30px;
  background-color: #008600;   
  color: white;
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 45px;
  border: none;
  border-radius: 8px;
  transition: 0.5s ease;
}

.ssnbutton:hover {
  background-color: #006A00;
}
.me {
  width: 50px;
  height: 50px;
  color: blue;
  background-color: blue;
}


/* Keyframes for caret blink animation */
@keyframes caret-blink {
  0%, 70%, 100% {
    opacity: 1;
  }
  20%, 50% {
    opacity: 0;
  }
}

@media (max-width: 1000px) {
  .ssn-page-container {
    width: 80%;
  }
  .group {
    gap: 5px;
  }
  .slot {
    width: 2.3rem;
    height: 3.3rem;
  }
  .ssnbutton {
    margin: 0;
  }
}

/* Responsive styles */
@media (max-width: 600px) {
  .slot {
    width: 2rem;
    height: 3rem;
    font-size: 1.5rem;
  }

  .title {
    font-size: 1.25rem;
  }

  .title-description {
    font-size: 0.875rem;
  }

  .container-ssn-page {
    padding: 10px;
  }
}

/* Further adjustments for very small screens */
@media (max-width: 480px) {
  body {
    height: auto;
    flex-direction: column;
    justify-content: center; /* Align elements to the top */
  }

  .container-ssn-page {
    max-width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ssn-page-container {
    width: 100%;
    padding: 15px;
    max-width: none; /* Allow full width on mobile */
  }

  .group {
    grid-template-columns: repeat(1, 1fr); /* Single column for mobile */
    gap: 5px;
  }

  .title {
    font-size: 20px;
  }

  .title-description {
    font-size: 14px;
  }
}
